<!-- Counters-->
<section class="section-70 section-md-114">
    <div class="shell">
        <h2 class="text-bold">Statistics</h2>
        <hr class="divider bg-madison">
        <div class="range range-xs-center offset-top-60">
            <div class="cell-xs-10 cell-sm-8">
                <p>Jonathan Carroll University was founded on the principle that by pursuing big ideas and sharing what we learn, we make the world a better place. For more than 135 years, we haven’t strayed from that vision.</p>
            </div>
        </div>
        <div class="range range-xs-center range-md-left offset-top-65 counters">
            <div class="cell-sm-6 cell-md-3">
                <!-- Counter type 1-->
                <div class="counter-type-1">
                    <span class="icon icon-lg icon-outlined text-madison mdi mdi-school"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span data-speed="1300" data-from="0" data-to="97" class="counter"></span><span>%</span></div>
                    <hr class="divider bg-gray-light divider-sm" />
                    <div class="offset-top-10">
                        <h6 class="text-black font-accent">Graduates</h6>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-65 offset-sm-top-0">
                <!-- Counter type 1-->
                <div class="counter-type-1">
                    <span class="icon icon-lg icon-outlined text-madison mdi mdi-wallet-travel"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span data-speed="1250" data-from="0" data-to="30" class="counter"></span><span>+</span></div>
                    <hr class="divider bg-gray-light divider-sm" />
                    <div class="offset-top-10">
                        <h6 class="text-black font-accent">Certified Teachers</h6>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-65 offset-md-top-0">
                <!-- Counter type 1-->
                <div class="counter-type-1">
                    <span class="icon icon-lg icon-outlined text-madison mdi mdi-domain"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span data-step="1500" data-from="0" data-to="8" class="counter"></span></div>
                    <hr class="divider bg-gray-light divider-sm" />
                    <div class="offset-top-10">
                        <h6 class="text-black font-accent">Student Campuses</h6>
                    </div>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-3 offset-top-65 offset-md-top-0">
                <!-- Counter type 1-->
                <div class="counter-type-1">
                    <span class="icon icon-lg icon-outlined text-madison mdi mdi-account-multiple-outline"></span>
                    <div class="h3 text-bold text-primary offset-top-15"><span data-step="500" data-from="0" data-to="6510" class="counter"></span></div>
                    <hr class="divider bg-gray-light divider-sm" />
                    <div class="offset-top-10">
                        <h6 class="text-black font-accent">Students</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
