 <!-- A Few Words About the University-->
<section class="section-70 section-md-114">
    <div class="shell">
        <div class="range text-sm-left range-sm-middle range-sm-justify">
            <div class="cell-sm-5 cell-md-4 cell-sm-push-2"><a href="#"><img src="images/logo-326x329.png" width="326" height="329" alt="" class="img-responsive reveal-inline-block"></a></div>
            <div class="cell-sm-7 cell-md-7 cell-sm-push-1 offset-top-50 offset-md-top-0">
                <h2 class="text-bold">Historia <br class="veil reveal-lg-inline-block"> Acerca De Nuestra Region</h2>
                <hr class="divider bg-madison hr-sm-left-0">
                <div class="offset-top-35 offset-md-top-60">
                    <p>Aqui iria una breve explicacion acerca de nuestra Region. Para mas informacion se navegaria a la pagina completa</p>
                </div>
                <div class="offset-top-30"><a href="#" class="btn btn-icon btn-icon-right btn-default"><span class="icon fa-arrow-right"></span><span>Learn More</span></a></div>
            </div>
        </div>
    </div>
</section>
