<!-- Latest news-->
<section class="bg-catskill">
    <div class="shell section-70 section-md-114">
        <h2 class="text-bold">Latest News</h2>
        <hr class="divider bg-madison">
        <div class="range offset-top-60 text-left range-xs-center">
            <div class="cell-sm-6 cell-md-4">
                <article class="post-news">
                    <a href="#"><img src="images/blog/news-01-370x240.jpg" width="370" height="240" alt="" class="img-responsive"></a>
                    <div class="post-news-body">
                        <h6><a href="#">Liberal Arts Colleges Rankings</a></h6>
                        <div class="offset-top-20">
                            <p>Liberal Arts Colleges emphasize undergraduate education and award at least half of their degrees in the liberal arts fields of study.</p>
                        </div>
                        <div class="post-news-meta offset-top-20"><span class="icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span class="text-middle inset-left-10 text-italic text-black">2 days ago</span></div>
                    </div>
                </article>
                <div class="offset-top-30">
                    <article class="post-news">
                        <a href="#"><img src="images/blog/news-04-370x240.jpg" width="370" height="240" alt="" class="img-responsive"></a>
                        <div class="post-news-body">
                            <h6>
                                <a href="#">
                                    Ways Parents and Counselors Can
                                    Help Students Earn Scholarships
                                </a>
                            </h6>
                            <div class="offset-top-20">
                                <p>Securing scholarships can be stressful, but parents and counselors can serve as a resource.</p>
                            </div>
                            <div class="post-news-meta offset-top-20"><span class="icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span class="text-middle inset-left-10 text-italic text-black">2 days ago</span></div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="cell-sm-6 cell-md-4 offset-top-30 offset-sm-top-0">
                <article class="post-news">
                    <a href="#"><img src="images/blog/news-02-370x240.jpg" width="370" height="240" alt="" class="img-responsive"></a>
                    <div class="post-news-body">
                        <h6><a href="#">10 Law Schools Where the Most Accepted Students Enroll</a></h6>
                        <div class="offset-top-20">
                            <p>At these schools, at least 42 percent of accepted students enrolled in fall 2015, U.S. News data show.</p>
                        </div>
                        <div class="post-news-meta offset-top-20"><span class="icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span class="text-middle inset-left-10 text-italic text-black">2 days ago</span></div>
                    </div>
                </article>
                <div class="offset-top-30">
                    <article class="post-news">
                        <a href="#"><img src="images/blog/news-05-370x240.jpg" width="370" height="240" alt="" class="img-responsive"></a>
                        <div class="post-news-body">
                            <h6>
                                <a href="#">
                                    Consider MBA Programs That
                                    Offer Summer Prep
                                </a>
                            </h6>
                            <div class="offset-top-20">
                                <p>Summer preparatory programs offered through schools allow students to get a head start on making connections and building skills.</p>
                            </div>
                            <div class="post-news-meta offset-top-20"><span class="icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span class="text-middle inset-left-10 text-italic text-black">2 days ago</span></div>
                        </div>
                    </article>
                </div>
            </div>
            <div class="cell-sm-12 cell-md-4 offset-top-30 offset-md-top-0">
                <div class="range">
                    <div class="cell-sm-6 cell-md-12">
                        <article class="post-news">
                            <a href="#"><img src="images/blog/news-03-370x240.jpg" width="370" height="240" alt="" class="img-responsive"></a>
                            <div class="post-news-body">
                                <h6><a href="#">5 Ways to Pay for Community College</a></h6>
                                <div class="offset-top-20">
                                    <p>Many community colleges offer promise programs, which offer tuition-free awards to eligible students – mainly to students with Pell grant eligibility.</p>
                                </div>
                                <div class="post-news-meta offset-top-20"><span class="icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span class="text-middle inset-left-10 text-italic text-black">2 days ago</span></div>
                            </div>
                        </article>
                    </div>
                    <div class="cell-sm-6 cell-md-12 offset-top-30 offset-sm-top-0 offset-md-top-30">
                        <article class="post-news">
                            <a href="#"><img src="images/blog/news-06-370x240.jpg" width="370" height="240" alt="" class="img-responsive"></a>
                            <div class="post-news-body">
                                <h6><a href="#">Studying in the United States</a></h6>
                                <div class="offset-top-20">
                                    <p>International students increasingly want to come to the United States for college or graduate school.</p>
                                </div>
                                <div class="post-news-meta offset-top-20"><span class="icon icon-xs mdi mdi-calendar-clock text-middle text-madison"></span><span class="text-middle inset-left-10 text-italic text-black">2 days ago</span></div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
        <div class="offset-top-50"><a href="#" class="btn btn-primary">View All News Posts</a></div>
    </div>
</section>

