<section>
    <!-- Swiper-->
    <div data-height="42.1875%" data-loop="true" data-dragable="false" data-min-height="480px" data-slide-effect="true" class="swiper-container swiper-slider">
        <div class="swiper-wrapper">
            <div data-slide-bg="images/slide-01-1920x810.jpg" style="background-position: 80% center" class="swiper-slide">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="range range-xs-center range-lg-left">
                            <div class="cell-md-9 text-md-left cell-xs-10">
                                <div data-caption-animate="fadeInUp" data-caption-delay="100">
                                    <h1 class="text-bold"><a href="academic.html">Inspiration, Innovation and Discovery.</a></h1>
                                </div>
                                <div data-caption-animate="fadeInUp" data-caption-delay="150" class="offset-top-20 offset-xs-top-40 offset-xl-top-60 inset-lg-right-100">
                                    <h5>Any successful career starts with good education. Together with us you will have deeper knowledge of the subjects that will be especially useful for you when climbing the career ladder.</h5>
                                </div>
                                <div data-caption-animate="fadeInUp" data-caption-delay="400" class="offset-top-20 offset-xl-top-40">
                                    <a href="login-register.html" class="btn btn-primary">Sign Up for Excursion</a>
                                    <div class="inset-xs-left-30 reveal-lg-inline-block"><a href="academic.html" class="btn btn-default veil reveal-lg-inline-block">Learn More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-slide-bg="images/slide-02-1920x810.jpg" style="background-position: 80% center" class="swiper-slide">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="range range-xs-center range-lg-left">
                            <div class="cell-md-9 text-md-left cell-xs-10">
                                <div data-caption-animate="fadeInUp" data-caption-delay="100">
                                    <h1 class="text-bold"><a href="academic.html">Investing in Knowledge.</a></h1>
                                </div>
                                <div data-caption-animate="fadeInUp" data-caption-delay="150" class="offset-top-20 offset-xs-top-40 offset-xl-top-60 inset-lg-right-100">
                                    <h5>At Jonathan Carroll University, you can succeed in lots of research areas and benefit from investing in your education and knowledge that will help you in becoming an experienced specialist.</h5>
                                </div>
                                <div data-caption-animate="fadeInUp" data-caption-delay="400" class="offset-top-20 offset-xl-top-40">
                                    <a href="login-register.html" class="btn btn-primary">Sign Up for Excursion</a>
                                    <div class="inset-xs-left-30 reveal-lg-inline-block"><a href="academic.html" class="btn btn-default veil reveal-lg-inline-block">Learn More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-slide-bg="images/slide-03-1920x810.jpg" style="background-position: 80% center" class="swiper-slide">
                <div class="swiper-slide-caption">
                    <div class="container">
                        <div class="range range-xs-center range-lg-left">
                            <div class="cell-md-9 text-md-left cell-xs-10">
                                <div data-caption-animate="fadeInUp" data-caption-delay="100">
                                    <h1 class="text-bold"><a href="academic.html">Open Minds. <br class="veil reveal-md-inline-block"> Creating Future.</a></h1>
                                </div>
                                <div data-caption-animate="fadeInUp" data-caption-delay="150" class="offset-top-20 offset-xs-top-40 offset-xl-top-60 inset-lg-right-100">
                                    <h5>Build your future with us! The educational programs of our University will give you necessary skills, training, and knowledge to make everything you learned here work for you in the future.</h5>
                                </div>
                                <div data-caption-animate="fadeInUp" data-caption-delay="400" class="offset-top-20 offset-xl-top-40">
                                    <a href="login-register.html" class="btn btn-primary">Sign Up for Excursion</a>
                                    <div class="inset-xs-left-30 reveal-lg-inline-block"><a href="academic.html" class="btn btn-default veil reveal-lg-inline-block">Learn More</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Swiper Pagination-->
        <div class="swiper-pagination"></div>
    </div>
</section>
