 <!-- Testimonials-->
<section class="bg-madison context-dark">
    <div data-items="1" data-nav="true" data-dots="true" data-nav-class="[&quot;owl-prev fa-angle-left&quot;, &quot;owl-next fa-angle-right&quot;]" class="owl-carousel owl-carousel-default veil-xl-owl-dots veil-owl-nav reveal-xl-owl-nav">
        <div>
            <div class="shell section-70 section-xl-100 section-xl-bottom-114">
                <div class="range range-xs-center range-xs-middle">
                    <div class="cell-sm-3 text-sm-right cell-sm-push-2"><img src="images/users/user-debra-banks-230x230.jpg" width="230" height="230" alt="" class="img-responsive reveal-inline-block img-circle"></div>
                    <div class="cell-sm-9 cell-sm-push-1">
                        <div class="quote-classic-boxed text-left">
                            <div class="quote-body">
                                <q>When you work full-time while studying, you need to sacrifice personal time, which meant that I took my studies seriously. My ambition was not only to complete my degree successfully but to make the best out of the time spent studying.</q>
                                <div class="offset-top-30 text-right">
                                    <cite class="font-accent">Debra Banks</cite>
                                    <div class="offset-top-5">
                                        <p class="text-dark text-italic">Diploma for Graduates in Management, USA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="shell section-70 section-xl-100 section-xl-bottom-114">
                <div class="range range-xs-center range-xs-middle">
                    <div class="cell-sm-3 text-sm-right cell-sm-push-2"><img src="images/users/user-steven-alvarez-230x230.jpg" width="230" height="230" alt="" class="img-responsive reveal-inline-block img-circle"></div>
                    <div class="cell-sm-9 cell-sm-push-1">
                        <div class="quote-classic-boxed text-left">
                            <div class="quote-body">
                                <q>When I researched the programmes available I realized that the University was offering exactly the type of programme in international development that interested me.</q>
                                <div class="offset-top-30 text-right">
                                    <cite class="font-accent">Steven Alvarez</cite>
                                    <div class="offset-top-5">
                                        <p class="text-dark text-italic">Diploma for Graduates in Management, USA</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
