<!-- Trusted by Over 6000+ Students-->
<section class="context-dark">
    <!-- RD Video-->
    <div data-rd-video-path="video/iddpmifire" data-rd-video-image-xs="26" data-rd-video-image-sm="26" data-rd-video-image-md="37" data-rd-video-image-lg="74" data-rd-video-image-xlg="100" class="rd-video">
        <div class="shell section-100 section-md-160">
            <h2 class="text-bold">Iglesia De Dios Pentecostal M.I.</h2>
            <div class="offset-top-30">
                <p>Region Atlantico Sur</p>
            </div>
            <div class="offset-top-35 offset-lg-top-70"><a href="#" class="btn btn-primary">Sitio Bajo Construccion</a></div>
        </div>
    </div>
</section>
