@{ 
    ViewBag.Layout = "~/Views/Shared/_LayoutMinimal.cshtml";
    ViewBag.Title = "404";
}

 <!-- Page Content-->
<main class="page-content section-cover section-404 section-30">
    <div><a href="./"><img src="images/logo-170x172.png" width="110" height="110" alt=""></a></div>
    <div class="section-50">
        <div class="shell">
            <div>
                <h1 class="font-default"><span class="big text-light text-bold">404</span></h1>
            </div>
            <div class="offset-top-10">
                <h2 class="text-bold">Sorry, the page was not found</h2>
            </div>
            <div class="offset-top-15 offset-lg-top-30">
                <hr class="divider bg-madison">
            </div>
            <div class="offset-top-30 offset-lg-top-60">
                <p>You may have mistyped the address or the page may have moved.</p>
            </div>
            <div class="offset-top-15 offset-lg-top-30">
                <div class="group group-xl"><a href="./" class="btn btn-primary btn-icon btn-icon btn-icon-left"><span class="icon fa-arrow-left"></span><span>Back to Home Page</span></a><a href="contacts.html" class="btn btn-default btn-icon btn-icon btn-icon-left"><span class="icon fa-envelope"></span><span>Contact Us</span></a></div>
            </div>
        </div>
    </div>
    <div>
        <p>&copy; <span id="copyright-year"></span> All Rights Reserved Terms of Use and <a href="privacy.html">Privacy Policy</a></p>
    </div>
</main>