@model IDDPMIRas.Models.HomeViewModel
@{
    ViewBag.Title = "Inicio";
    ViewBag.Message = "Inicio";
}
 <!-- Page Content-->
<main class="page-content">
    @Html.Partial("~/Views/Home/Sections/_Trusted.cshtml")
    @*@Html.Partial("~/Views/Home/Sections/_Swiper.cshtml")*@
    @Html.Partial("~/Views/Home/Sections/_FewWords.cshtml")
    @*@Html.Partial("~/Views/Home/Sections/_Feature.cshtml")*@
    @*@Html.Partial("~/Views/Home/Sections/_Counters.cshtml")*@
    
    @Html.Partial("~/Views/Home/Sections/_Events.cshtml",Model)
    @*@Html.Partial("~/Views/Home/Sections/_Testimonials.cshtml")*@
    @*@Html.Partial("~/Views/Home/Sections/_LatestNews.cshtml")*@
    @*@Html.Partial("~/Views/Home/Sections/_Gallery.cshtml")*@
    @*@Html.Partial("~/Views/Home/Sections/_GoogleMaps.cshtml")*@
</main>